body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #87e0fd 0%,#58f153 40%,#ec16a5 100%);
    height: 100%;
    margin-left: 20px;
    color: white;
  }
img {
    width: 75%;
}

#allContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    background-color: black;
    display: flex;
    justify-content: center;
}

h2 {
    background-color: blue;
    display: flex;
    justify-content: center;
}